.giveSpace{
	
	margin:10px;

}
.extra_padding{
 margin-top	: 3em;
	margin-left: 6em;
    margin-right: 3em;
    margin-bottom:1em	
}
.align_center{
	    display: inline-flex;
    justify-content: space-between;
}
.align_text_in_block{
	color:red	;
	 display: flex;
    align-items: center;
    justify-content: center;
}